apiVersion: v1
kind: Pod
metadata:
  name: myapp-pod
  labels:
    app: myapp
    tier: frontend
spec:
  containers:
    - name: myapp
      image: tatianapas1/iam-autopilot-nginx:v1
      ports:
        - containerPort: 80
