name: Docker Image CI

on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "app/**"
      - ".github/workflows/docker-image.yml"
  push:
    branches: [ "main" ]
    paths:
      - "app/**"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:${{ github.sha }}
